.gradle
launchConfigurations/
*.pyc
action/*.zip
action/package.json
tests/build
action/node_modules/
action/package-lock.json
package-lock.json

# Eclipse
bin/
**/.project
.settings/
.classpath
.cache-main
.cache-tests

.idea/
out/
